<div class="row">
  <div class="col-md-2">
    <%= render partial: 'news_letters/index', locals: { news_letters: @news_letters }%>
  </div>

  <div class="col-md-10">
    <%= render partial: 'index', locals: {news_letter: @news_letter, articles: @articles} %>
  </div>
</div>
